
body{
    background-color: #FBE2D0;
    
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}


/* .body-logo{
    height: 80vh;
    size: 20vh;
} */

/* .overflowNONE{

    overflow: hidden;
} */

.decor{
    width: 55vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.col-decor{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#body-info{
    margin-top: 10vh;
}

#footer{
    background-color: #314753;
    height: 8vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.contenedor-icono{
    font-size: 30px;
    color: #FBE2D0;
}
