body{
    background-color: #314753;
    color: antiquewhite;

}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}


#body-info{
    margin-top: 10vh;
}

#footer{
    background-color: #FBE2D0;
    height: 8vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contenedor-icono{
    font-size: 30px;
    color: #314753;
}



.fondo-menu{
    background-image: url(../images/menu-background.png);
    background-size: cover;
    height: 50vh;

}

.fondo-menu-2{
    background-image: url(../images/menu-background-2.png);
    background-size: cover;
    height: 50vh;

}


/* MIS TIPOGRAFÍAS */

@font-face {
    font-family: gang;
    src: url(../fonts/gang.ttf);
}

#font-gang{
    font-family: gang;
    font-size: 48px;
    color: #FBE2D0;
    
}

#font-gang-2{
    font-family: gang;
    font-size: 30px;
    color: #FBE2D0;
    
}

.border-white{
    border-color: #FBE2D0;
    border-style: dotted;
    border-width: 5px;
    
}


.card{
    color: #F44E45;
    background-color: #FBE2D0;
}

.card-title{
    font-family: gang;
}

